@import 'vars';

.bg-about{
  background-color: rgba($color: $color-bgPrimary, $alpha: 0.1);
}

.destacado{
  font-weight: 600;
}

@media (min-width: 1024px) {
  p{
    font-size: 1.2rem !important;
  }
}