@import 'vars';

.dato {
  background-color: $color-bgPrimary !important;
  color: $color-fontSecundary !important;
}

.btn{
  transition: 300ms;
  border-color: $color-bgPrimary;
  background-color: $color-fontSecundary;
  color: $color-bgPrimary;
}

.btn:hover{
    transition: 300ms;
    border-color: $color-fontSecundary;
    background-color: $color-bgPrimary;
    color: $color-fontSecundary;
}

.btn:active{
  transition: 150ms;
  border-color: $color-fontSecundary;
  background-color: $color-bgPrimary;
  color: $color-fontSecundary;
  transform: scale(1.03);
}

.form-check-label{
  color: $color-fontSecundary;
}