$color-bgPrimary:#150E13;
$color-bgSecundary: #0F0B0E;
$color-fontPrimary: #FBEDE0;
$color-shade: #110a0420;
$color-fontSecundary: #FFBB00;
$bgimg-gradient: radial-gradient(circle, #3a1e28, #351c26, #301b24, #2c1921, #27171f, #23161d, #20141a, #1c1318, #191115, #150f13, #110c0f, #0c090b);

.dato {
  background-color: $color-bgPrimary !important;
  color: $color-fontSecundary !important;
}

.btn {
  border: none;
  background-color: $color-fontSecundary !important;
  color: $color-bgPrimary !important;
}