@import 'vars';

.textIndx{
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.index-container{
  background-color: $color-bgPrimary;
  margin: 1rem 0;
  padding: .5rem;
}

.index-border{
  border: solid 0.5rem rgba($color: #000000, $alpha: 0.3);
  border-radius: 1rem;
}

.shade{
  border-radius: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.13)
}

$carrouselTag: (
  tattoo: crimson,
  illus: coral,
  design: lightcyan,
  );
  
  $indexColors: (
    tattoo: $tattoo,
    illus: $illus,
    design: $design,
    secundary: $secundary
);

@each $indicator, $color in $carrouselTag {
  .color--#{$indicator} {
    font-weight: bolder;
    color: $color ;
  }
}

@each $name, $col in $indexColors{
  .text-color--#{$name}  {
    color: $col;
  }
}

