@use 'navbar';
@use 'index';
@use 'contact';
@use 'about';
@use 'services';
@use 'portfolio';
@import 'vars';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  color: $color-fontPrimary;
}

body {
  // background-image:$bgimg-gradient;
  padding-top: 126px;
  background-color: $color-bgPrimary;
  background-image: $bgimg-gradient;
}


main {
  margin: 0;
  padding: 0 1rem;
}

footer{
  background-color: rgba($color: $color-bgPrimary, $alpha: 0.4);
  .list-group-item{
    background-color: rgba($color: #000000, $alpha: 0);
    .nav-link{
      color: $color-fontSecundary;
    }
  }
}

.bg-color{
  background-color: rgba($color: $color-bgSecundary, $alpha: 1.0) !important;
}

.navbar-toggler{
  border-color: rgba($color: #000000, $alpha: 0) !important;
}

.nav-link{
  color: #ED9121;
}

.iconos{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  position: sticky;
  padding-bottom: 1rem;
  width: 2rem;
  height: auto;
  bottom: 25%;
  background-color: rgba($color: $color-bgPrimary, $alpha: .7);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  z-index: 100;
}

.icon{
  margin-top: 1rem;
  transform: scale(1.5);
}