@use 'navbar';
@use 'index';
@use 'contact';
@use 'about';

$color-bgPrimary:#150E13;
$color-bgSecundary: #0F0B0E;
$color-fontPrimary: #FBEDE0;
$color-shade: #110a0420;
$color-fontSecundary: #FFBB00;
$bgimg-gradient: radial-gradient(circle, #3a1e28, #351c26, #301b24, #2c1921, #27171f, #23161d, #20141a, #1c1318, #191115, #150f13, #110c0f, #0c090b);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  color: $color-fontPrimary;
}

body {
  // background-image:$bgimg-gradient;
  background-color: $color-bgPrimary;
}


h2 {
  text-align: center;
}

main {
  margin: 0;
  padding: 0 1rem;
}

.politics {
  padding: 0 5rem;
}

.leyes {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 1rem 0rem;
  padding: 1rem 5rem;
}