@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    color: #FBEDE0;
}

body{
    background-color: #181116;
}

.bg-color{
    background-color: #0F0B0E;
}

.navbar-brand{
    color: #FFBB00 !important;
}

h2{
    text-align: center;
}

main{
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(17, 10, 4, 0.25);
}

.shade{
    background-color: rgba(0, 0, 0, 0.095);
}

.colorTattoo{
    font-weight: bolder;
    color: crimson;
}

.colorIllus{
    font-weight: bolder;
    color: coral;
}

.colorDesign{
    font-weight: bolder;
    color: lightcyan;
}

/* ------------------------------------------------------------------- */
/* SECCION CONTACTO */
/* ------------------------------------------------------------------- */

.dato{
    background-color: #181116 !important;
    color: #FFBB00 !important;
}

.btn{
    border: none;
    background-color: #FFBB00 !important;
    color: #181116 !important;
}

/* ------------------------------------------------------------------- */
/* SECCION POLITICS */
/* ------------------------------------------------------------------- */

.politics{
    padding: 0 5rem;
}

.leyes{
    background-color: rgba(255, 255, 255, 0.25);
    margin: 1rem 0rem;
    padding: 1rem 5rem;
}